#
# ~/.aliases
#

## Clipboard
# only on Linux
if [[ `uname` == "Linux" ]]; then
    alias pbcopy='xclip -selection clipboard -in'
    alias pbpaste='xclip -selection clipboard -out'
    alias xcopy='xsel --output'
    alias xpaste='xsel --input'
    alias l='ls -lh --color'
    alias lt='ls -lht --color'
    alias lah='ls -lah --color'
    alias lr='ls -R --color'
    alias ipv4='ip a | grep '\''inet\b'\'' | awk '\''{print $2}'\'''
fi

# only on OSX
if [[ `uname` == "Darwin" ]]; then
    alias showhidden='defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app'
    alias noshowhidden='defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app'
    alias l='ls -lhG'
    alias lt='ls -lhGt'
    alias la='ls -lahG'
    alias lr='ls -RG'
    alias mute='osascript -e "set volume 0"'
    alias ipv4='ifconfig | grep '\''inet\b'\'' | awk '\''{print $2}'\'''
fi

alias g='grep -I --color=auto --exclude-dir=.git --exclude-dir=.vagrant --exclude-dir=logs --exclude=*.log'
alias gr='g -r'
alias gri='g -ri'
alias isomount='sudo mount -o loop,exec'
alias z='. ~/.zshrc'
alias b='. ~/.bashrc'
alias ta='tmux attach -d -t'
alias tl='tmux ls'
alias ncdu='ncdu --color dark'
alias n='vim + -c "startinsert" $HOME/sync/notes.md'
alias ipt='sudo iptables -L --line-number'
alias fw='sudo firewall-cmd'
alias fwls='sudo firewall-cmd --list-all'
alias shortdate='date +%Y%m%d'
alias datetime='date +%Y%m%d.%H%M%S'
alias epoch='date +%s'
alias jctl='sudo journalctl -f'

## Git
alias gst='git status -s'
alias gco='git checkout'
alias gs='git stash'
alias gsa='git stash apply'
alias gsp='git stash pop'
alias gpo='git push origin'
alias gpoh='git push origin HEAD'
alias gp='git pull'

### Pull code into correct dir
ghclone() {
    git clone git@github.com:$1 ~/code/$1
}

### fetch a pull request into a new branch
gf() {
    git fetch upstream pull/${1}/head:pr${1}
}

## vim
alias e='vim -p '
alias se='sudo -e '

# search for processes and keep column headings
pg() {
    ps x | grep --color=auto $1
}

## History grep
h() {
    history | grep --color=auto $1
}
