#
# ~/.aliases
#

## rbenv
rbenv_exists=`which rbenv` > /dev/null 2>&1
if [ -e $rbenv_exists ]; then
    eval "$(rbenv init -)"
    alias be='bundle exec'
fi

## mutt
alias gmail='mutt -F ~/.mutt/account.gmail'
#alias hireology='mutt -F ~/.mutt/account.hireology'
#alias wits='mutt -F ~/.mutt/account.witsmd'
alias opmbx='mutt -F ~/.mutt/account.opmbx'
alias agmail='mutt -F ~/.mutt/account.gmail.old'
alias aopmbx='mutt -F ~/.mutt/account.opmbx.old'

## General stuff
alias ls='ls --color=auto'
alias g='grep --color=auto --exclude-dir=.git'
alias norsk='setxkbmap no'
alias eng='setxkbmap us'
alias isomount='sudo mount -o loop,exec'
alias ll='ls -lh'
alias la='ls -A'
alias lah='ls -lah'
alias usg='du -h --max-depth=1 -x'
alias z='. ~/.zshrc'
alias b='. ~/.bashrc'
alias c='clear'
alias hc='cd && clear'
alias sudo='sudo -E '
alias matrix='cmatrix -b -u 10'
alias ta='tmux attach'

## workspaces
alias imagemover='. ~/.ENV_WITS'
alias hireology='. ~/.ENV_HLGY'

## vim
alias e='vim -p '
alias se='sudo -e '

## Apt
alias acs="apt-cache search"
alias acp="apt-cache policy"
alias acsh="apt-cache show"
alias ai="sudo apt install"
alias aa="sudo apt autoremove"
alias update='sudo apt update'
alias upgrade='sudo apt upgrade'

## Ansible
alias ad='ansible-doc '
alias am='ansible-doc -s '
alias avc='ansible-vault create '
alias avd='ansible-vault decrypt '
alias ave='ansible-vault edit '
alias avx='ansible-vault encrypt '
alias avr='ansible-vault rekey '
alias avv='ansible-vault view '
alias ap='ansible-playbook --diff'
alias a='time ansible'
alias atest='ap playbooks/test.yml'

## Vagrant
alias v='vagrant'
alias vu='time vagrant up --parallel'
alias vd='vagrant destroy --force'
alias vr='time vagrant reload'
alias vs='vagrant ssh'
alias vst='vagrant status'
alias vp='time vagrant provision'
alias vsc='vagrant ssh-config'

## postgres
alias dbcons="psql -e 'SELECT datname,usename,client_addr,waiting,query_start,current_query FROM pg_stat_activity;'"

## Alert stuff
# usage: execute --long-running --command; alert;
alert_helper='history|tail -n1|sed -e "s/^\s*[0-9]\+\s*//" -e "s/;\s*alert$//"'
alert_picture='/usr/share/icons/Adwaita/scalable/apps/utilities-terminal-symbolic.svg'
alias alert='notify-send -i "$alert_picture" "FINISHED: $alert_helper"'

# search for processes and keep column headings
processSearch() {
    ps aux | egrep "$1|PID"
}

# ipa hbactest
ipahbactest() {
    ipa hbactest --user=$1 --host=$2 --service=sshd
}

## VMware snapshot management
vmwareReset() {
    vmrun -T ws stop ~/vmware/$1/$1.vmx
    last=`vmrun -T ws listSnapshots ~/vmware/$1/$1.vmx | tail -n 1`
    vmrun -T ws revertToSnapshot ~/vmware/$1/$1.vmx ""$last""
    vmrun -T ws start ~/vmware/$1/$1.vmx
}

## History grep
histgrep() {
    history | grep $1
}

## Make JSON pretty
pjson() {
    python -m json.tool $1 | less
}

## Aliases to functions
alias psgrep=processSearch
alias hbt=ipahbactest
alias vmreset=vmwareReset
alias hg=histgrep
alias pj=pjson

## Git
alias gst='git status'

## Clipboard
alias pbcopy='xclip -selection clipboard -in'
alias pbpaste='xclip -selection clipboard -out'
alias xcopy='xsel --output'
alias xpaste='xsel --input'

## Random
# sync music to Sansa Clip Zip
alias musync='rsync -az --no-perms --delete --delete-excluded --exclude=".tor*" --exclude="_tor*" /vault/music/ /media/${USER}/0123-4567/MUSIC'
alias sub='subliminal -l en --providers addic7ed opensubtitles tvsubtitles thesubdb -- '
alias hibot-restart='ansible build -m service -a "name=hibot state=restarted" -i $HOME/Projects/Hireology/ansible/qa -s'
alias notes='echo "\n"`date +%Y/%m/%d" | "%R`"\n" >> $HOME/documents/txt/notes.txt && vim + -c "startinsert" $HOME/documents/txt/notes.txt'
alias deployed='deploy-qa --deployed'
alias toff='xsetwacom --set "Wacom Intuos PT M 2 Finger touch" Touch off'
