!!
!! .Xresources
!!

!*font: -*-noto mono-*-*-*-*-*-*-*-*-*-*-*-1
!*faceName: xft:Noto Mono:antialias=false:pixelsize=14

*.font: -misc-fixed-medium-r-normal--18-120-100-100-c-90-iso10646-1
xterm*eightBitInput: true
xterm*metaSendsEscape: false
*.saveLines: 10000
*.scrollKey: true
xterm*scrollBar: false
*.locale: true
*.utf8: true
*.utf8Fonts: true
*.allowScrollLock: true
*.cursorBlink: true

!! Colors
*.cursorColor: #5f8700
*.background: #080808
*.foreground: #767676
! black
*.color0: #121212
*.color8: #3a3a3a
! red   203  197
*.color1: #ff005f
*.color9: #ff5f5f
! green  28  64
*.color2: #008700
*.color10: #5f8700
! yellow 172  178
*.color3: #df8700
*.color11: #dfaf00
! blue
*.color4: #005fdf
*.color12: #0087df
! magenta 162  169
*.color5: #df0087
*.color13: #df5faf
! cyan 24  30
*.color6: #005f87
*.color14: #008787
! white
*.color7: #cccccc
*.color15: #ffffff

Xautolock.locker: i3lock -c 080808
Xautolock.time: 60
Xcursor.size: 16
